/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */
.u-text--monospace {
    font-family: 'Roboto Mono', monospace;
}

.u-text--openSans {
    font-family: 'Open Sans', sans-serif;
}

.u-text--gotu {
    font-family: 'Gotu', sans-serif;
}

.u-text--center {
    text-align: center;
}

.u-color--grey {
    color: #f1f1f1;
}

.u-color--green {
    color: rgb(17, 54, 2);
}

h1 {
    font-size: 1.8em;
    margin-bottom: 1.5rem;
}

/* UTILITIES */
.show {
    opacity: 1;
}
/* 
.hidden {
    opacity: 0;
} */

/* CONTENT */
/* Form */
.wrapper {
    height: 100vh;
    padding-top: 100px;
    background: rgb(160, 20, 20);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.customerForm {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 24px;
}

.dati-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dati-input .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dati-input .col {
    margin-bottom: 24px;
}

.dati-input label {
    display: block;
}

.dati-input .row:nth-child(2) {
    margin-top: 24px;
}

.dati-input input {
    width: 100%;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.dati-input select {
    font-size: 14px;
    font-family: 'open sans';
    font-weight: 700;
    color: #444;
    padding: 2px 12px;
    border-radius: 4px;
}
